@model SamuelTestMVC.Models.Movie
@using SamuelTestMVC.Models;
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- https://bootswatch.com/ -->

<h2>@(((Movie) ViewData["Movie"]).Name) </h2>

<!-- Similar to View bag where in the controller you pass in a magic instaance variable 
    which reads in at runtime-->